@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;
@import "../../../shared/style/mixins";

.List {
  display: flex;
  flex-direction: column;
  gap: s.$mid-small;
  padding: s.$mid-small s.$extra-large;
}
