@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;
@import "../../../shared/style/mixins";

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: s.$mid-small;
}

.Pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: s.$extra-small;
}

.Arrow {
  @include Text_Black(20px, 400);

  background: c.$blue-light;
  padding: s.$ultra-small s.$extra-small;
  border-radius: s.$ultra-small;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    @include Text_Purple(20px, 400);

    background: c.$white;
    box-shadow: 0 0 5px c.$blue;
  }
}

.Page {
  @include Text_Black(20px, 400);

  background: c.$blue-light;
  padding: s.$ultra-small s.$extra-small;
  border-radius: s.$ultra-small;
  border: 0;
  outline: 0;
  cursor: pointer;

  &_Active {
    @include Text_Purple(20px, 700);

    background: c.$white;
    box-shadow: 0 0 5px c.$blue;
  }

  &:hover {
    background: c.$white;
    box-shadow: 0 0 5px c.$blue;
  }
}
