@use "../../../../shared/style/colors" as c;
@use "../../../../shared/style/spacings" as s;
@import "../../../../shared/style/mixins";

.PostBlock {
  background: c.$blue-light;
  padding: s.$mid-small s.$medium;
  display: flex;
  flex-direction: column;
  gap: s.$mid-small;
  border-radius: s.$small;
}

.Author {
  @include Text_Black(20px, 400);
}

.Username {
  @include Text_Purple(20px, 400);

  text-decoration: none;
}

.Text {
  padding: 0 s.$medium;
  display: flex;
  flex-direction: column;
  gap: s.$small;
}

.Title {
  @include Text_Purple(24px, 700);

  &::first-letter {
    text-transform: uppercase;
  }
}

.Body {
  @include Text_Black(20px, 400);

  &::first-letter {
    text-transform: uppercase;
  }
}
